<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- for Bootstrap -->
	<title>Parks</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="inc/parks.css">
	<script src="inc/angular.js"></script>
</head>
<body>
	<div class="container" ng-app="ParksApp" ng-controller="ParksController">
		<section ng-show="page === 'intro'" id="intro-view">
			<img src="inc/parks-title.png" alt="Parks" class="img-responsive">
			<button ng-click="switchPage('puzzle')" class="btn btn-primary">
				<i class="fa fa-tree"></i> Start Solving Puzzles! <i class="fa fa-tree"></i>
			</button><br><br>
			<a ng-click="switchPage('rules')">Learn the Rules</a>
		</section>
		<section ng-show="page === 'rules'" id="rules-view">
			<h2>Rules of Parks</h2>
			<h3>Put one Tree in each Park, row and column. (two in bigger levels)</h3>
			<p>In Parks, you have many differently colored areas (Parks) on the board.</p>
			<p>The goal is to plant Trees, following these rules</p>
			<ul>
				<li>A Tree can't touch another Tree, not even diagonally</li>
				<li>Each Park must have exactly 1 Tree</li>
				<li>There must be exactly 1 Tree in each row and each column (small puzzles)</li>
				<li>Large puzzles have TWO trees in each Park, each row and each column. (NOTE: You will see how many Trees you must place in the top right)</li>
			</ul>
			<p>Common Mistakes:</p>
			<ul>
				<li>Remember a Tree CAN NOT touch another tree diagonally but it CAN be on the same diagonal line</li>
				<li>Check the number of required Trees on the top right corner</li>
			</ul>
			<button ng-click="switchPage('intro')" class="btn btn-primary">
				<i class="fa fa-home"></i> Back Home <i class="fa fa-home"></i>
			</button>
		</section>
		<section ng-show="page === 'puzzle'" id="puzzle-view">
			<div class="row">
				<section class="col-xs-12 puzzle">
					<div class="pull-right tree-display">
						<img ng-repeat="t in _.range(puzzle.treeCount) track by $index" src="inc/tree-icon.png" class="img-responsive" alt="T">
					</div>
					<table>
						<caption>Puzzle: {{puzzle.id}}</caption>
						<tbody>
							<tr ng-repeat="row in puzzle.getRows()">
								<td ng-repeat="cell in row.cells"
									class="{{cell.color}} {{cell.state}}"
									ng-click="changeState(cell)">
									<i ng-hide="cell.state === 'tree'" class="fa fa-lg fa-fw" ng-class="'fa-' + actionIcons[cell.state]"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
			<div class="row top-buffer">
				<section class="col-xs-12">
					<button id="solveBtn" class="btn btn-danger"
						ng-click="solvePuzzle()"><i class="fa fa-key"></i> Solve</button>
					<button id="createBtn" class="btn btn-warning"
						ng-click="createPuzzle()"><i class="fa fa-check-square-o"></i> Create</button>
					<button id="clearBtn" class="btn btn-info"
						ng-click="clearPuzzle()"><i class="fa fa-reply"></i> Clear</button>
				</section>
			</div>
			<div class="row">
				<section class="col-xs-12">
					<section class="action-bar" id="solving" ng-hide="creatingPuzzle">
						<ul class="btn-group">
							<li class="btn btn-default"
								ng-repeat="action in actions"
								ng-class="{active: selectedAction === action}"
								ng-click="selectThisAction(action)">
								<i class="fa fa-fw" ng-class="'fa-' + actionIcons[action]"></i>
							</li>
						</ul>
					</section>
					<section class="action-bar" id="creating" ng-show="creatingPuzzle">
						<ul class="btn-group">
							<li class="btn btn-default"
								ng-repeat="color in colorOptions"
								ng-class="color"
								ng-class="'fa-' + color"
								ng-click="selectThisColor(color)">
							</li>
						</ul>
					</section>
				</section>
			</div>
			<div class="row">
				<section class="col-xs-12 form-inline">
					<label>Puzzle No. </label> <select ng-model="puzzleChose" class="form-control" ng-options="singlePuzzle.id for singlePuzzle in availablePuzzles" ng-change="choosePuzzle()"></select>
				</section>
			</div>
			<button ng-click="switchPage('intro')" class="btn btn-primary">
				<i class="fa fa-home"></i> Back Home <i class="fa fa-home"></i>
			</button>
		</section>
	</div>
	@@javascriptReplaceFiles
</body>
</html>
