<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- for Bootstrap -->
	<title>Parks</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="_inc/parks.css">
	<script src="_inc/angular.js"></script>
</head>
<body>
	<div class="container" ng-app="ParksApp" ng-controller="ParksController">
		<div class="row">
			<section class="col-xs-12 puzzle">
				<table>
					<caption>Puzzle: {{puzzle.id}}</caption>
					<tbody>
						<tr ng-repeat="row in puzzle.getRows()">
							<td ng-repeat="cell in row.cells"
								ng-class="cell.color"
								ng-click="changeState(cell)">
								<i class="fa fa-lg fa-fw" ng-class="'fa-' + actionIcons[cell.state]"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<div class="row">
			<section class="col-xs-12">
				<button class="btn btn-danger"
					ng-click="solvePuzzle()"><i class="fa fa-key"></i> Solve</button>
			</section>
		</div>
		<div class="row">
			<section class="col-xs-12">
				<section class="action-bar">
					<ul class="btn-group">
						<li class="btn btn-default"
							ng-repeat="action in actions"
							ng-class="{active: selectedAction === action}"
							ng-click="selectThisAction(action)">
							<i class="fa fa-fw" ng-class="'fa-' + actionIcons[action]"></i>
						</li>
					</ul>
				</section>
			</section>
		</div>
		<div class="row">
			<section class="col-xs-12 form-inline">
				<label>Puzzle No. </label> <select ng-model="puzzleChose" class="form-control" ng-options="singlePuzzle.id for singlePuzzle in availablePuzzles" ng-change="choosePuzzle()"></select>
			</section>
		</div>
	</div>
	@@javascriptReplaceFiles
</body>
</html>
